@import '~@comm/assets/themes/index.scss';
// 主题list
$theme: default;
// $theme: default simple;


// 字体颜色
$text_c0: #ffffff; // 标准文字颜色/默认文本颜色
$text_c1: #31d3c9; // 文字按钮/选中颜色
$text_c2: rgba(255, 255, 255, .8); // 普通文字展示
$text_c06: rgba(255, 255, 255, .6); // 普通文字展示
$text_c3: #FF6262; // 文字按钮/删除
$text_c4: #349EFF; // 文字按钮/维护
$text_d1_c3: #333333; // 居中对话框  时的默认字体颜色


// 背景色
$bg_c0: #103154; // 底色
$bg_c1: #396faa; // popover弹出窗口背景色
$bg_c2: #245182; // popover弹出窗口 中 input,区域块背景色
$bg_c3: rgba(#124271, 0.6); // 半透明背景底色

$bg_c4: rgba(#335781, 0.2); // 透明弹框 透明背景
$bg_c5: #0E3055; // 不知道什么规则 背景色  综合能源大数据首页弹窗
$bg_c6: rgba(20, 40, 59, .6); // 不知道什么规则 背景色  综合能源大数据首页 透明背景

$bg_input_c1: #173E6A; // 输入框，下拉框背景
$bg_table_c1: #0D3463; // table 行颜色
$bg_table_c2: #0D2D4F; // table 表头背景色


// 线条/边框颜色
$line_c1: rgba(95, 146, 200, .7); // 输入框border颜色
$line_c2: rgba(10, 28, 44, 1); // table border 颜色
$line_c3: #335781; // 分割线
$line_c4: rgba(51, 115, 189, 1); // 弹框border

// 按钮颜色
$button_c0: #1CAF9A; // 普通 确认 提交
$button_c1: #2263B4; // 重置

// 背景渐变
$bgl_1: lighten(rgba(#124271, .2), 5%) linear-gradient(209deg, lighten(rgba(110, 125, 139, .2), 5%), lighten(rgba(100, 140, 183, .2), 5%), lighten(rgba(255, 0, 114, .2), 5%));

// 状态颜色
$status_c0: #57c794; //全部
$status_c1: #57c794; //正常
$status_c2: #e57e70; //故障
$status_c3: #e5b870; //报警
$status_c4: #9d9d9d; //中断
$status_c5: #6ddaf5; //初始化
$status_c6: #4e82ff; //未知
$status_c7: #a963ff; //未接入

@import '~@comm/assets/themes/mixin.scss';
// @import '~@comm/assets/themes/button/button.scss';
// @import '~@comm/assets/themes/select/select.scss';
// @import '~@comm/assets/themes/input/input.scss';
